﻿@model ProdajtaStanova.Web.Models.User

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<div>
    @ViewBag.Message
</div>
<h1>Registration</h1>

<form action="Register" method="post">
    <table>
        <tr>
            <td>ID:</td>
            <td><input type="number" name="id" /></td>
        </tr>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><input type="text" name="surname" /></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>
                <input list="genders" name="gender" />
                <datalist id="genders">
                    <option value="MALE"></option>
                    <option value="FEMALE"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="email"/></td>
        </tr>
        <tr>
            <td>Birth Date:</td>
            <td><input type="datetime" name="birthDate" value="dd/MM/yyyy"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Register" />
            </td>
        </tr>
    </table>
</form>
