﻿
@{
    ViewBag.Title = "UnregistredUser";
    Layout = "~/views/shared/_Layout_Unregistred.cshtml";
}
@using ProdajtaStanova.Web.Models
@model Dictionary<int, Apartment>
@using System.Globalization



<h1>Apartments that are on sale:</h1>

<h1 style="text-align:left;float:right;">Sort by</h1>
<h2 style="text-align:right;float:left;">Search by</h2>
<hr style="clear:both;" />

@*<h1 align="right">Sort by:</h1>
    <h1 align="left">Search by:</h1>*@


<form style="text-align:right; float:right;" action="~/UnregistredUser/Sort" method="post">
    <input list="sortby" name="sortBy" />
    <datalist id="sortby">
        <option value="Price Ascending"></option>
        <option value="Price Descending"></option>
        <option value="ApartmentType Ascending"></option>
        <option value="ApartmentType Descending"></option>
        <option value="City Ascending"></option>
        <option value="City Descending"></option>
    </datalist>
    <input type="submit" value="Sort" />
</form>


<table>
    <tr>
        <form style="text-align:left; float:left;" action="~/UnregistredUser/SearchByCity" method="post">
            City
            <input type="text" name="SearchByCity" />
            <input type="submit" value="Search" />
        </form>
        </td>
    </tr>
    <tr>
        <td>
            <form style="text-align:left; float:left;" action="~/UnregistredUser/SearcByType" method="post">
                Apartment Type
                <input type="text" name="ApartmentType" />
                <input type="submit" value="Search" />
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form style="text-align:left; float:left;" action="~/UnregistredUser/SearcByPrice" method="post">
                Price From
                <input type="number" name="StartPrice" />
                Price To
                <input type="number" name="EndPrice" />
                <input type="submit" value="Search" />
            </form>
        </td>
    </tr>
</table>


<hr style="clear:both;" />



<table class="table table-hover">
    <thead>
        <tr>
            <th>Country</th>
            <th>City</th>
            <th>Street And Number</th>
            <th>Flor</th>
            <th>Quadrature m<sup>2</sup></th>
            <th>Description</th>
            <th>Type</th>
            <th>Price $</th>
            <th>On Sale</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Values)
        {
            if (item.OnSale)
            {
                <tr>
                    <td>@item.Country</td>
                    <td>@item.City</td>
                    <td>@item.StreetAndNumber</td>
                    <td>@item.Flor</td>
                    <td>@item.Quadrature</td>
                    <td>@item.Description</td>
                    <td>@item.Type.ToString()</td>
                    <td>@item.Price</td>
                    <td>
                        @if (@item.OnSale)
                        {
                            <text>On Sale</text>
                        }
                        else
                        {
                            <text>Sold </text>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

