﻿@model ProdajtaStanova.Web.Models.Apartment
@{
    ViewBag.Title = "Add";
}

<div>
    @ViewBag.Message
</div>
<h1>Add new apartment</h1>

<form action="~/Administrator/AddApartment" method="post">
    <table>
        <tr>
            <td>ID:</td>
            <td><input type="number" name="ID" /></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td><input type="text" name="Country" /></td>
        </tr>
        <tr>
            <td>City:</td>
            <td><input type="text" name="City" /></td>
        </tr>
        <tr>
            <td>Street and number:</td>
            <td><input type="text" name="StreetAndNumber" /></td>
        </tr>
        <tr>
            <td>Flor:</td>
            <td><input type="number" name="Flor" /></td>
        </tr>
        <tr>
            <td>Quadrature:</td>
            <td><input type="number" name="Quadrature" /></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" name="Description" /></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>
                <input list="types" name="Type" />
                <datalist id="types">
                    <option value="ONE_ROOM"></option>
                    <option value="TWO_ROOM"></option>
                    <option value="THREE_ROOM"></option>
                    <option value="FOUR_ROOM"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="number" name="Price" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add" />
            </td>
        </tr>
    </table>
</form>
