﻿
@{
    ViewBag.Title = "EditApartment";
}



<h2>EditApartment</h2>
@using ProdajtaStanova.Web.Models
@model  Apartment

<div>
    @ViewBag.Message
</div>

<form action="~/Administrator/SaveEdited" method="post">
    <table>
        <tr>
            <td hidden>ID:</td>
            <td hidden><input type="number" name="ID" value="@Model.ID"/></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td><input type="text" name="Country" value="@Model.Country"/></td>
        </tr>
        <tr>
            <td>City:</td>
            <td><input type="text" name="City" value="@Model.City"/></td>
        </tr>
        <tr>
            <td>Street and number:</td>
            <td><input type="text" name="StreetAndNumber" value="@Model.StreetAndNumber" /></td>
        </tr>
        <tr>
            <td>Flor:</td>
            <td><input type="number" name="Flor" value="@Model.Flor"/></td>
        </tr>
        <tr>
            <td>Quadrature:</td>
            <td><input type="number" name="Quadrature" value="@Model.Quadrature"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" name="Description" value="@Model.Description"/></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>
                <input list="types" name="Type" value="@Model.Type"/>
                <datalist id="types">
                    <option value="ONE_ROOM"></option>
                    <option value="TWO_ROOM"></option>
                    <option value="THREE_ROOM"></option>
                    <option value="FOUR_ROOM"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="number" name="Price" value="@Model.Price"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
</form>