﻿
@{
    ViewBag.Title = "Index";
}
@using ProdajtaStanova.Web.Models
@model Dictionary<int, User>
@using System.Globalization

@if (ViewBag.User.Role == UserType.ADMINISTRATOR && ViewBag.User.LoggedIn)
{
    <h2 align="center">List of all customers</h2>
    <h3>Customers info:</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Birth Date</th>
                <th>Role</th>
                <th>LoggedIn</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (User user in Model.Values)
            {
                if (user.Role == UserType.CUSTOMER && user.Deleted == false)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.Name</td>
                        <td>@user.Surname</td>
                        <td>@user.Gender.ToString()</td>
                        <td>@user.Email</td>
                        <td>@user.BirthDate.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture)</td>
                        <td>@user.Role.ToString()</td>
                        <td>@user.LoggedIn.ToString()</td>
                        <td>
                            <form action="/Administrator/DeleteUser" method="post">
                                <input type="number" name="UserID" value="@user.ID" hidden/>
                                <input type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    @*<h1>You need to login as an admin so you can access this part of the site</h1>*@
}


