﻿
@{
    ViewBag.Title = "Bought";
}

<h2>You have bought the apartment:</h2>
<div>
    @ViewBag.Message
</div>
@using ProdajtaStanova.Web.Models

<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>City</th>
            <th>Street And Number</th>
            <th>Flor</th>
            <th>Quadrature m<sup>2</sup></th>
            <th>Description</th>
            <th>Type</th>
            <th>Price $</th>
            <th>On Sale</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.Apartment.Country</td>
            <td>@ViewBag.Apartment.City</td>
            <td>@ViewBag.Apartment.StreetAndNumber</td>
            <td>@ViewBag.Apartment.Flor</td>
            <td>@ViewBag.Apartment.Quadrature</td>
            <td>@ViewBag.Apartment.Description</td>
            <td>@ViewBag.Apartment.Type.ToString()</td>
            <td>@ViewBag.Apartment.Price</td>
            <td>
                @{
                    if (ViewBag.Apartment.OnSale)
                    {
                        <text>On Sale</text>
                    }
                    else
                    {
                        <text> Sold </text>
                    }
                }
            </td>
            <td>
                @if (ViewBag.User.Role == UserType.CUSTOMER)
                {
                    <a href="~/Home/MyPurchases">Back to shoping list:</a>
                }
            </td>
        </tr>
    </tbody>
</table>


