﻿
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@using ProdajtaStanova.Web.Models

<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>City</th>
            <th>Street And Number</th>
            <th>Flor</th>
            <th>Quadrature m<sup>2</sup></th>
            <th>Description</th>
            <th>Type</th>
            <th>Owner</th>
            <th>Price $</th>
            <th>On Sale</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.Apartment.Country</td>
            <td>@ViewBag.Apartment.City</td>
            <td>@ViewBag.Apartment.StreetAndNumber</td>
            <td>@ViewBag.Apartment.Flor</td>
            <td>@ViewBag.Apartment.Quadrature</td>
            <td>@ViewBag.Apartment.Description</td>
            <td>@ViewBag.Apartment.Type.ToString()</td>
            <td>
                @if (ViewBag.User.Role == UserType.ADMINISTRATOR && !ViewBag.Apartment.OnSale)
                {
                    @ViewBag.Owner
                }
            </td>
            <td>@ViewBag.Apartment.Price</td>
            <td>
                @{
                    if (ViewBag.Apartment.OnSale)
                    {
                        <text>On Sale</text>
                    }
                    else
                    {
                        <text> Sold </text>
                    }
                }
            </td>
            <td>
                @if (ViewBag.User.Role == UserType.ADMINISTRATOR && ViewBag.Apartment.OnSale)
                {
                    <form action="~/Administrator/EditApartment" method="get">
                        <input type="number" name="id" value="@ViewBag.Apartment.ID" hidden />
                        <button class="btn btn-info" height="40">Edit</button>
                    </form>
                }
                @if (ViewBag.User.Role == UserType.CUSTOMER && ViewBag.Apartment.OnSale)
                {
                    <form action="~/Home/Buy" method="post">
                        <input type="number" name="id" value="@ViewBag.Apartment.ID" hidden />
                        <button class="btn btn-info" height="40">Buy</button>
                    </form>
                }
            </td>
        </tr>
    </tbody>
</table>

