﻿@{
    /**/

    ViewBag.Title = "Apartment Sales";
}
@*@model ProdajtaStanova.Web.Models.User*@
@using ProdajtaStanova.Web.Models
@model Dictionary<int, Apartment>
@using System.Globalization

<h1>Currently Logged-In: @ViewBag.User.Username</h1>

@if (ViewBag.User.Role == UserType.ADMINISTRATOR)
{
    <form style="text-align:left; float:left;" action="~/Administrator/Index" method="post">
        <button class="btn btn-info" height="40">See all registred customers</button>
    </form>

    <form style="text-align:right; float:right;" action="/Administrator/AddApartment" method="get">
        <button class="btn btn-info" height="40">Add Apartment</button>
    </form>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>City</th>
            <th>Street And Number</th>
            <th>Quadrature m<sup>2</sup></th>
            <th>Price $</th>
            <th>On Sale</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Values)
        {
            <tr>
                <td>@item.City</td>
                <td>@item.StreetAndNumber</td>
                <td>@item.Quadrature</td>
                <td>@item.Price</td>
                <td>
                    @if (@item.OnSale)
                    {
                        <text>On Sale</text>
                    }
                    else
                    {
                        <text>Sold</text>
                    }
                </td>
                <td>
                    @if (ViewBag.User.Role == UserType.ADMINISTRATOR)
                    {
                        <form action="~/Home/Details" method="post">
                            <input type="number" name="id" value="@item.ID" hidden />
                            <button class="btn btn-info" height="40">Details</button>
                        </form>
                    }
                </td>
                <td>
                    @if(ViewBag.User.Role == UserType.CUSTOMER)
                    {
                        <form action="~/Home/Details" method="post">
                            <input type="number" name="id" value="@item.ID" hidden />
                            <button class="btn btn-info" height="40">Details</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>




