﻿
@{
                /**/

                ViewBag.Title = "MyPurchases";
}
@using ProdajtaStanova.Web.Models
@model List<FormatedPurchase>


@if (ViewBag.User.Role != UserType.CUSTOMER)
{
    <h1>Only Customers can enter this syte!</h1>
}
else
{
    <h2>All purchases made: </h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>City</th>
                <th>Street</th>
                <th>Quadrature</th>
                <th>Purchase Date</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.City</td>
                    <td>@item.Street</td>
                    <td>@item.Quadrature</td>
                    <td>@item.PurchaseDate</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
}

